<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-------------------------------------------------------------------------

     @Author:           GuSaiKun
     @CreateDate:       2021/5/12
     @Description:      画点

-------------------------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #coor{
            width: 200px;
        }
        #can {
            background: #ffffff;
            cursor: pointer;
            margin-left: 10px;
            margin-top: 10px;
            -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
            -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
            box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
        }
        #btnPos{
            left: 100px;
            top: 1000px;
        }
    </style>
    <script type="text/javascript" src="../js/jquery-3.6.0.js"></script>
</head>
<body>
<div id="box" style="width: 1500px;height: 1000px;margin: 0 auto;">
    <canvas id="can" width="1000px" height="700px" >

    </canvas>
    <div id="btnPos">
    <button id="btn1">removeOne</button>
    <button id="btn2">clear</button>
    <input id="coor" placeholder="请输入坐标x y以空格作为分隔符" type="text" name="coor" />
    <button id="submit">提交</button>
        <input id="1" type="radio" checked name="editing" onclick="draw()" value="1"/>划线
        <input id="2" type="radio" name="editing" onclick="edit()" value="2"/>拖拽

    </div>
</div>
<script type="text/javascript">
    // var drawDot = $("#edit");
    // console.log("值: "+drawDot.val()+"类型： "+typeof drawDot);


    var can = document.getElementById('can');
    var ctx = can.getContext("2d");
    //定义是否拖拽标志，拖拽x偏移，拖拽y偏移
    var dragging;
    var can = $("#can");
    //是否可编辑
    var editing = false;
    var flag = true;
    var  GRID_STROKE_STYLE = 'lightblue', GRID_SPACING = 10;
    //小圆点的半径
    var rx = 3,ry=3;
    function GetRandomNum(Min, Max) {
        var Range = Max - Min;
        var Rand = Math.random();
        return (Min + Math.round(Rand * Range));
    }

    function mouseCoords(ev) {
        var e = event || window.event;
        var x = e.offsetX || e.layerX;
        var y = e.offsetY || e.layerY;
        return {x, y};
    }

    var globl_w = 500;
    var globl_h = 500;
    makerect(0, 0, globl_w, globl_w);
    var index = 0;
    var pointList = new Array();

    function draw(){
      var a= $("#1").checked = true;
      editing = false;
      console.log(editing+"  nima***")
    };
    function edit(){
        var b = $("#2").checked = false;
        editing = true;
        console.log(editing+"  nida+++")
    };
    console.log("外面的editing"+editing);

    //绘制网格
    function drawGrid(color, stepX, stepY){
        ctx.save()

        ctx.strokeStyle = color;
        ctx.lineWidth = 0.5;
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

        for (var i = stepX + 0.5; i < ctx.canvas.width; i += stepX) {
            ctx.beginPath();
            ctx.moveTo(i, 0);
            ctx.lineTo(i, ctx.canvas.height);
            ctx.stroke();
        }

        for (var i = stepY + 0.5; i < ctx.canvas.height; i += stepY) {
            ctx.beginPath();
            ctx.moveTo(0, i);
            ctx.lineTo(ctx.canvas.width, i);
            ctx.stroke();
        }

        ctx.restore();
    };
    drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);

    function updateRubberband(loc, sides, startAngle) {
        updateRubberbandRectangle(loc);
        drawRubberbandShape(loc, sides, startAngle);
    }

    //鼠标点击生成圆
        $("#can").click(function (e) {
            if(editing == true)
                return;
            var ev = ev || window.event;
            var mousePos = mouseCoords(ev);
            mousePosX = mousePos.x;
            mousePosY = mousePos.y;
            console.log("原方法得到的坐标" + mousePosX + "   " + mousePosY);

            var point = {};
            point['x'] = mousePosX;
            point['y'] = mousePosY;

            pointList.push(point);

            index++;
            for (var i = 0; i < index; i++) {
                makearc(pointList[i], GetRandomNum(rx, ry), 0, 180, 'red');
                // drawArc(pointList[i]);
            }
            var data = JSON.stringify(pointList);
            $.ajax({
                url: "/test/1",
                type: 'POST',//默认为get请求,这里设置为post请求
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(pointList),
                beforeSend: function (data) {
                     console.log(typeof data);
                },
                success: function (data, status) {
                    ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                    drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);
                    var finalPointList = eval(data);
                    for (var i = 0; i < pointList.length; i++) {
                        makearc(pointList[i], GetRandomNum(rx,ry), 0, 180, 'red');
                    };
                    drawLine(finalPointList);
                },
                error: function () {
                    console.log("ERROR");
                }
            });
        });

    //removeOne按钮
    $("#btn1").click(function (e){
        // debugger
        pointList.pop();
        pointList.pop();

        index--;
        index--;

        $.ajax({
            url: "/test/1",
            type: 'POST',//默认为get请求,这里设置为post请求
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(pointList),
            beforeSend: function (data) {
                console.log(typeof data);
            },
            success: function (data, status) {

                var finalPointList = eval(data);

                ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);
                for (var i = 0; i < pointList.length; i++) {
                    makearc(pointList[i], GetRandomNum(rx,ry), 0, 180, 'red');
                };
                drawLine(finalPointList);
            },
            error: function () {
                console.log("ERROR");
            }
        });

    });

    //clear按钮
    $("#btn2").click(function (e){
        pointList = [];
        index = 0;
        $.ajax({
            url: "/test/1",
            type: 'POST',//默认为get请求,这里设置为post请求
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(pointList),
            beforeSend: function (data) {
                console.log(typeof data);
            },
            success: function (data, status) {

                ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);
                // 登录状态下不会出现这行文字，点击页面右上角一键登录
            },
            error: function () {
                console.log("ERROR");
            }
        });

    });

    //手动输入xy坐标的值
    $("#submit").click(function (){
        var inputVal = $("#coor").val();
        inputVal = inputVal.split(" ");
        if (inputVal.length % 2 !=0){
            alert("输入的坐标个数有误,请重新输入！");
        };

        inputVal = inputVal.map(Number);
        debugger;

        for (var i =0;i<inputVal.length;i=i+2){
            var point = {};
            point['x']=inputVal[i];
            point['y']=inputVal[i+1];
            index++;
            // console.log(point+"point打印");
            pointList.push(point);
        }

        $.ajax({
            url: "/test/1",
            type: 'POST',//默认为get请求,这里设置为post请求
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(pointList),
            beforeSend: function (data) {
                console.log(typeof data);
            },
            success: function (data, status) {
                var finalPointList = eval(data);
                /*var can = document.getElementById('can');
                var ctx = can.getContext("2d");*/
                ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
                drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);
                for (var i = 0; i < pointList.length; i++) {
                    makearc(pointList[i], GetRandomNum(rx,ry), 0, 180, 'red');
                };
                drawLine(finalPointList);
            // 登录状态下不会出现这行文字，点击页面右上角一键登录
            },
            error: function () {
                console.log("ERROR");
            }
        });

    });
    //计算点击时canvas画布中的坐标x y；

    var dragIndex;
    //拖拽功能

       addEventListener('mousedown', function (e) {
           if(editing == false)
               return;
           // editing = true;
           console.log(editing)
           debugger;
           var mousePos = mouseCoords(e);
           var X = mousePos.x;
           var Y = mousePos.y;
           // drawGuidewires(X, Y);
           console.log("鼠标按下时所得坐标" + X + Y);
           //取消事件的默认动作
           e.preventDefault();
           // console.log(loc.x,loc.y+"鼠标按下时的坐标")
           for (var i = 0; i < pointList.length; i++) {
               if (Math.abs(X - pointList[i].x) <= 5 && Math.abs(Y - pointList[i].y) <= 5) {

                   dragging = pointList[i];
                   dragIndex = i;
                   break;
               }
           }
       }, false);

       addEventListener('mousemove', function (e) {
           if (editing == false)
               return;
           // editing = true;
           var mousePos = mouseCoords(e);
           var X = mousePos.x;
           var Y = mousePos.y;

           e.preventDefault();

           if (dragging && editing) {
               pointList[dragIndex].x = X;
               pointList[dragIndex].y = Y;
               ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

               drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);
               // drawGuidewires(X, Y);
               // drawGuidewires(X, Y);
               for (var i = 0; i < index; i++) {
                   makearc(pointList[i], GetRandomNum(rx, ry), 0, 180, 'red');
                   // drawArc(pointList[i]);
               }


           $.ajax({
               url: "/test/1",
               type: 'POST',//默认为get请求,这里设置为post请求
               contentType: 'application/json;charset=UTF-8',
               data: JSON.stringify(pointList),
               beforeSend: function (data) {
                   // console.log(typeof data);
               },
               success: function (data, status) {
                   // console.log(data);
                   var finalPointList = eval(data);
                   drawLine(finalPointList);
               },
               error: function () {
                   console.log("ERROR");
               }
           });
       }
           }, false);

       addEventListener('mouseup', function (e) {
           // editing = true;
           if(editing == false){
               return;
           }
           if (dragging) {
               dragging = null
           }


       }, false);




    function myAnimation() {
        ctx.clearRect(0, 0, globl_w, globl_h);
    }

    //生成圆
    function makearc(point, r, s, e, color) {
        // var can = document.getElementById('can');
        // var ctx = can.getContext("2d");
        ctx.beginPath();
        ctx.fillStyle = color
        ctx.arc(point['x'], point['y'], r, s, e);
        ctx.fill();
    }


    function makerect(x, y, w, h) {
        var can = document.getElementById('can');
        var ctx = can.getContext("2d");
        ctx.strokeRect(x, y, w, h);
    }

    function drawLine(pointList) {
        var can = document.getElementById('can');
        var ctx = can.getContext("2d");
        // ctx.clearRect(0, 0, 500, 500);
        if (pointList == null){
            return;
        };
        for (var i = 0; i < pointList.length; i++) {
            //开始一个新的绘制路径
            ctx.beginPath();
            //设置线条颜色为蓝色
            ctx.strokeStyle = "navy";
            ctx.lineWidth = 0.5;
            //设置路径起点坐标
            ctx.moveTo(pointList[0].x, pointList[0].y);
            for (var j = 1; j < pointList.length; j++) {
                ctx.lineTo(pointList[j].x, pointList[j].y);
            }
            //按照绘制路径顺序连接各个坐标点
            ctx.stroke();
        }
    }
</script>
</body>
</html>