<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-------------------------------------------------------------------------

     @Author:           GuSaiKun
     @CreateDate:       2021/5/12
     @Description:      画点

-------------------------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            width: 100%;
            height: 100%;
        }

        html {
            width: 100%;
            height: 100%;
        }

        #coor {
            width: 200px;
        }

        #box {
            left: 300px;
            position: absolute;
        }

        #can {
            background: #ffffff;
            cursor: crosshair;
            position: relative;
            margin-left: 250px;
            margin-top: 150px;
            -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        }

        #btnPos {
            position: relative;
            margin-left: 256px;
            margin-top: -702px;
        }

        #axis {
            /*margin-left: 100px;*/
        }

        #drag {
            margin-left: 30px;
        }

        #delete {
            margin-left: 30px;
        }

        #curve {
            margin-left: 150px;
        }

        #importFile {
            margin-left: 350px;
        }
    </style>
    <script type="text/javascript" src="../js/jquery-3.6.0.js"></script>
</head>
<body>
<div id="box" style="width: 1500px;height: 1000px;margin: 0 auto;">
    <canvas id="can" width="1000px" height="700px">

    </canvas>
    <div id="btnPos">

        <span id="axis">
        <input id="coor" placeholder="请输入坐标x y以空格作为分隔符" type="text" name="coor"/>
        <button id="submit">提交</button>
        </span>

        <span id="drag">
        <input id="1" type="radio" checked name="editing" onclick="draw()" value="1"/>绘图
        <input id="2" type="radio" name="editing" onclick="edit()" value="2"/>拖拽
        </span>

        <span id="delete">
        <button id="btn1">removeOne</button>
        <button id="btn2">clear</button>
        </span>

        <span id="importFile">
            <button>导出数据</button>
        </span>

    </div>

    <div id="curve">
        <div>
            <button id="Line" class="paintingType" value="Line">多段线</button>
        </div>
        <div>
            <button id="Bezier" class="paintingType" value="Bezier">贝赛尔曲线</button>
        </div>
        <div>
            <button id="Spline" class="paintingType" value="Spline">三次样条曲线</button>
        </div>
        <div>
            <button id="Circle" class="paintingType">圆</button>
        </div>
        <div>
            <button id="Arc" class="paintingType">圆弧</button>
        </div>
    </div>

</div>

<script type="text/javascript">
    var can = document.getElementById('can');
    var ctx = can.getContext("2d");
    //定义是否拖拽标志，拖拽x偏移，拖拽y偏移
    var dragging;
    //是否可编辑
    var editing = false;
    var GRID_STROKE_STYLE = 'lightblue', GRID_SPACING = 10;
    //小圆点的半径
    var rx = 3, ry = 3;
    var globl_w = 500;

    var paintingEntity = [];
    var finalPointList;

    //设置点的大小
    function GetRandomNum(Min, Max) {
        var Range = Max - Min;
        var Rand = Math.random();
        return (Min + Math.round(Rand * Range));
    }

    //获取鼠标的坐标
    function mouseCoords(ev) {
        var e = event || window.event;
        var x = e.offsetX || e.layerX;
        var y = e.offsetY || e.layerY;
        return {x, y};
    }

    //绘制边框
    makerect(0, 0, globl_w, globl_w);
    var index = 0;
    var pointList = new Array();

    //画线拖拽单选框
    function draw() {
        var a = $("#1").checked = true;
        editing = false;
    };

    function edit() {
        var b = $("#2").checked = false;
        editing = true;
    };

    //绘制网格
    function drawGrid(color, stepX, stepY) {
        ctx.save()

        ctx.strokeStyle = color;
        ctx.lineWidth = 0.5;
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

        for (var i = stepX + 0.5; i < ctx.canvas.width; i += stepX) {
            ctx.beginPath();
            ctx.moveTo(i, 0);
            ctx.lineTo(i, ctx.canvas.height);
            ctx.stroke();
        }

        for (var i = stepY + 0.5; i < ctx.canvas.height; i += stepY) {
            ctx.beginPath();
            ctx.moveTo(0, i);
            ctx.lineTo(ctx.canvas.width, i);
            ctx.stroke();
        }

        ctx.restore();
    };

    drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);

    //绘制图形的类型
    var curveInput = {
        paintingType: "Line",
        pointList: []
    };

    //获取绘制类型
    $(".paintingType").click(function (e) {

        curveInput.paintingType = e.currentTarget.id;
        curveInput.pointList = [];
        if (finalPointList != null) {
            var model = {
                pointList: finalPointList.pointList,
                controlPointList: finalPointList.controlPointList,
                paintingType: finalPointList.paintingType
            }
            paintingEntity.push(model);
            finalPointList = null;
        }
    });

    // //获取贝塞尔按钮
    // $("#bezier").click(function () {
    //
    //     curveInput.paintingType = "Bezier";
    //     curveInput.pointList = new Array();
    //
    //     if (finalPointList != null) {
    //         var model = finalPointList;
    //         paintingEntity.push(model);
    //     }
    // });
    //
    // //获取三次样条曲线按钮
    // $("#spline").click(function () {
    //
    //     curveInput.paintingType = "Spline";
    //     curveInput.pointList = new Array();
    //     if (finalPointList != null) {
    //         var model = finalPointList;
    //         paintingEntity.push(model);
    //     }
    // });
    //
    // //获取圆按钮
    // $("#circle").click(function () {
    //
    //     curveInput.paintingType = "Circle";
    //     curveInput.pointList = new Array();
    //     if (finalPointList != null) {
    //         var model = finalPointList;
    //         paintingEntity.push(model);
    //         finalPointList.clear();
    //     }
    // });
    //
    // //获取圆弧按钮
    // $("#Arc").click(function () {
    //     curveInput.paintingType = "Arc";
    //     curveInput.pointList = new Array();
    //     if (finalPointList != null) {
    //         var model = finalPointList;
    //         paintingEntity.push(model);
    //         finalPointList.clear();
    //     }
    // });

    // var oldIndex, newPath = false;
    // //双击鼠标左键开启一条新的路径
    // $("#can").dblclick(function (e) {
    //     oldIndex = index + 1;
    //     newPath = true;
    //     alert("双击");
    // });

    function initCanvas() {
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);

    }

    function paintingItem(item) {
        //画点
        for (var i = 0; i < item.controlPointList.length; i++) {
            makearc(item.controlPointList[i], GetRandomNum(rx, ry), 0, 180, 'red');
        }
        ;
        makearc(item.controlPointList[0], GetRandomNum(4, 4), 0, 180, 'green');
        makearc(item.controlPointList[item.controlPointList.length - 1], GetRandomNum(4, 4), 0, 180, 'green');

        //画线
        drawLine(item.pointList);

    }

    function postPointData(X,Y) {
        $.ajax({
            url: "/test/1",
            type: 'POST',//默认为get请求,这里设置为post请求
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(curveInput),
            beforeSend: function (data) {
                console.log(typeof data);
            },
            success: function (data, status) {
                initCanvas();
                finalPointList = JSON.parse(data);
                for (let i = 0; i < paintingEntity.length; i++) {
                    paintingItem(paintingEntity[i]);
                }
                if (dragging) {
                    drawGuidewires(X, Y);
                }
                paintingItem(finalPointList);
                // //画点
                // for (var i = 0; i < finalPointList.controlPointList.length; i++) {
                //     makearc(finalPointList.controlPointList[i], GetRandomNum(rx, ry), 0, 180, 'red');
                // };
                // makearc(finalPointList.controlPointList[0], GetRandomNum(4, 4), 0, 180, 'green');
                // makearc(finalPointList.controlPointList[finalPointList.controlPointList.length - 1], GetRandomNum(4, 4), 0, 180, 'green');
                //
                // //画线
                // drawLine(finalPointList.pointList);

                //画控制线
                if (curveInput.paintingType == "Bezier") {
                    controlLine(finalPointList.controlPointList);
                }
            },
            error: function () {
                console.log("ERROR");
            }
        });
    }

    //鼠标点击绘制
    $("#can").click(function (e) {
        if (editing == true)
            return;
        var ev = ev || window.event;
        var mousePos = mouseCoords(ev);
        mousePosX = mousePos.x;
        mousePosY = mousePos.y;

        var point = {};
        point['x'] = mousePosX;
        point['y'] = mousePosY;
        curveInput.pointList.push(point);
        // pointList.push(point);
        index++;

        // if (curveInput.pointList == null)
        //     return;
        // var data = JSON.stringify(pointList);

        //post数据
        postPointData();
    });

    //removeOne按钮
    $("#btn1").click(function (e) {
        curveInput.pointList.pop();
        index--;

        //post数据
        postPointData();
    });

    var lastPaintingModel;
    //clear按钮
    $("#btn2").click(function (e) {
        if (paintingEntity.length != 0) {

            lastPaintingModel = paintingEntity.pop();
            curveInput.pointList = lastPaintingModel.controlPointList;
            index = curveInput.pointList.length - 1;
            curveInput.paintingType = lastPaintingModel.paintingType;
        } else {
            initCanvas();
            curveInput.pointList = [];
        }
        postPointData();

    });

    //手动输入xy坐标的值
    $("#submit").click(function () {
        var inputVal = $("#coor").val();
        inputVal = inputVal.split(" ");
        if (inputVal.length % 2 != 0) {
            alert("输入的坐标个数有误,请重新输入！");
        }
        ;

        inputVal = inputVal.map(Number);

        for (var i = 0; i < inputVal.length; i = i + 2) {
            var point = {};
            point['x'] = inputVal[i];
            point['y'] = inputVal[i + 1];
            index++;
            // console.log(point+"point打印");
            curveInput.pointList.push(point);
        }

        postPointData();

    });

    var dragIndex;
    //拖拽功能
    addEventListener('mousedown', function (e) {
        if (editing == false)
            return;
        var mousePos = mouseCoords(e);
        var X = mousePos.x;
        var Y = mousePos.y;
        console.log("鼠标按下时所得坐标" + X + Y);
        //取消事件的默认动作
        e.preventDefault();
        for (var i = 0; i < curveInput.pointList.length; i++) {
            if (Math.abs(X - curveInput.pointList[i].x) <= 5 && Math.abs(Y - curveInput.pointList[i].y) <= 5) {
                dragging = curveInput.pointList[i];
                dragIndex = i;
                break;
            }
        }
    }, false);

    //鼠标移动时绘制曲线
    addEventListener('mousemove', function (e) {
        if (editing == false)
            return;

        var mousePos = mouseCoords(e);
        var X = mousePos.x;
        var Y = mousePos.y;


        e.preventDefault();

        if (dragging && editing) {
            curveInput.pointList[dragIndex].x = X;
            curveInput.pointList[dragIndex].y = Y;

            // $.ajax({
            //     url: "/test/1",
            //     type: 'POST',//默认为get请求,这里设置为post请求
            //     contentType: 'application/json;charset=UTF-8',
            //     data: JSON.stringify(curveInput),
            //     beforeSend: function (data) {
            //         console.log(typeof data);
            //     },
            //     success: function (data, status) {
            //         finalPointList = JSON.parse(data);
            //         ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            //         drawGrid(GRID_STROKE_STYLE, GRID_SPACING, GRID_SPACING);
            //         for (var i = 0; i < finalPointList.controlPointList.length; i++) {
            //             makearc(finalPointList.controlPointList[i], GetRandomNum(rx, ry), 0, 180, 'red');
            //         }
            //         drawGuidewires(X, Y);
            //         drawLine(finalPointList.pointList);
            //         if (curveInput.paintingType == "Bezier") {
            //             controlLine(finalPointList.controlPointList);
            //         }
            //
            //     },
            //     error: function () {
            //         console.log("ERROR");
            //     }
            // });

            postPointData(X,Y);
        }
    }, false);

    //鼠标松开事件
    addEventListener('mouseup', function (e) {
        if (editing == false)
            return;
        if (dragging) {
            dragging = null
        }
    }, false);

    //绘制点 参数：包含xy坐标的数组，半径、初始角度、结束角度、颜色
    function makearc(point, r, s, e, color) {
        ctx.beginPath();
        ctx.fillStyle = color
        ctx.arc(point['x'], point['y'], r, s, e);
        ctx.fill();
    }

    function makerect(x, y, w, h) {
        ctx.strokeRect(x, y, w, h);
    }

    //绘制控制线
    function controlLine(point) {
        if (point == null)
            return;
        drawLin(point[0].x, point[0].y, point[1].x, point[1].y);
        for (var i = 2; i < point.length - 2; i += 3) {
            drawLin(point[i].x, point[i].y, point[i + 1].x, point[i + 1].y);
            drawLin(point[i + 1].x, point[i + 1].y, point[i + 2].x, point[i + 2].y);
        }
        drawLin(point[point.length - 2].x, point[point.length - 2].y, point[point.length - 1].x, point[point.length - 1].y);
    }

    function drawLin(x1, y1, x2, y2) {
        ctx.beginPath();
        //设置线条颜色为蓝色
        ctx.strokeStyle = "gray";
        ctx.lineWidth = 0.5;
        //设置路径起点坐标
        ctx.moveTo(x1, y1);
        ctx.lineTo(x2, y2);
        //按照绘制路径顺序连接各个坐标点
        ctx.stroke();
    }

    //绘制线段
    function drawLine(pointList) {
        // ctx.clearRect(0, 0, 500, 500);
        if (pointList == null) {
            return;
        }
        ;
        for (var i = 0; i < pointList.length; i++) {
            //开始一个新的绘制路径
            ctx.beginPath();
            //设置线条颜色为蓝色
            ctx.strokeStyle = "navy";
            ctx.lineWidth = 0.5;
            //设置路径起点坐标
            ctx.moveTo(pointList[0].x, pointList[0].y);
            for (var j = 1; j < pointList.length; j++) {
                ctx.lineTo(pointList[j].x, pointList[j].y);
            }
            //按照绘制路径顺序连接各个坐标点
            ctx.stroke();
        }
    }

    //绘制辅助线
    function drawHorizontalLine(y) {
        ctx.beginPath();
        ctx.strokeStyle = "red";
        ctx.moveTo(0, y + 0.5);
        ctx.lineTo(ctx.canvas.width, y + 0.5);
        ctx.stroke();
    }

    function drawVerticalLine(x) {
        ctx.beginPath();
        ctx.moveTo(x + 0.5, 0);
        ctx.lineTo(x + 0.5, ctx.canvas.height);
        ctx.stroke();
    }

    function drawGuidewires(x, y) {
        ctx.save();
        ctx.strokeStyle = 'rgb(212,16,94)';
        ctx.lineWidth = 0.5;
        drawVerticalLine(x);
        drawHorizontalLine(y);
        ctx.restore();
    }

    function drawHorizontalLine(y) {
        ctx.beginPath();
        ctx.moveTo(0, y + 0.5);
        ctx.lineTo(ctx.canvas.width, y + 0.5);
        ctx.stroke();
    }

    function drawVerticalLine(x) {
        ctx.beginPath();
        ctx.moveTo(x + 0.5, 0);
        ctx.lineTo(x + 0.5, ctx.canvas.height);
        ctx.stroke();
    }

    function drawGuidewires(x, y) {
        ctx.save();
        ctx.strokeStyle = 'rgba(0,0,230,0.4)';
        ctx.lineWidth = 0.5;
        drawVerticalLine(x);
        drawHorizontalLine(y);
        ctx.restore();
    }
</script>
</body>
</html>